@media screen and (min-width: 1200px) {
  .forlaargeScreen {
    height: 90px;
  }
}

/* 
 */
/* 
  */

@media screen and (max-width: 1200px) {
  .phone-main {
    display: block;
  }
  #nav {
    display: none;
  }
  .Dein-Marketing h1,
  .Dein-Marketing p {
    margin: 0 0 0 15px;
  }
}

/* 
 */
/* 
  */

@media screen and (max-width: 1145px) {
  #cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 20px;
  }
  .ranking {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 96%;
  }
  .stylish-line {
    margin: 0 auto 80px auto;
    width: 95%;
  }
  .marketing-img {
    justify-content: center;
  }

  .komplett {
    width: 90%;
  }
}

/*  */
/*  */

@media screen and (max-width: 900px) {
  .Dein-Marketing {
    margin-bottom: 70px;
  }
  #cards {
    min-width: 1100px;
    position: relative;
    margin: 0;
  }

  .section-2 {
    overflow: hidden;
    overflow-x: scroll;
  }
}

/* 
 */
/* 
  */

@media screen and (max-width: 780px) {
  header {
    background: var(--bg-primary);
    position: absolute;
    width: 100%;
    left: 0;
    top: -300px;
    transition: 0.3s;
    z-index: 4;
  }
  .showHeader {
    top: 0;
  }
  .fa-angle-down-1 {
    top: 0;
    z-index: 88;
    transition: 0.3s;
  }
  #header {
    display: block;
    height: auto;
    width: 90%;
  }

  .head {
    justify-content: flex-start;
    display: block;
    margin: 0;
  }

  .head p {
    margin: 15px 0 15px 0;
  }

  .head-2 {
    display: inline-block;
  }
  .head-2 p {
    margin: -7px 0;
  }
  .head-3 {
    margin: 22px 0;
  }
  .head-active {
    padding: 5px 12px;
  }

  .zum {
    padding: 0;
    height: auto;
    margin-top: 0;
  }

  .Dein-Marketing {
    padding-top: 0;
    margin-bottom: 0;
  }

  .Website-Check {
    margin: 35px 0 85px 0;
  }

  .zum::before {
    background-image: none;
    width: 100%;
    height: auto;
  }

  .Dein-Marketing h1,
  .Dein-Marketing p {
    max-width: 100%;
    margin: 0 15px;
  }

  .Dein-Marketing h1 {
    font-size: 24px;
  }

  .section-1 {
    padding-top: 80px;
  }

  #cards {
    grid-template-columns: 230px 230px 230px 230px;
    height: 335px;
  }

  .card {
    padding: 20px 15px;
    min-width: 200px;
  }
  .card-flex h3 {
    font-size: 18px;
  }
  .card-para {
    text-align: center;
    line-height: 18px;
    font-size: 12px;
  }

  .ranking {
    grid-template-columns: 49% 49%;
  }
  .same-R-a {
    height: 160px;
  }
  .same-R-a h3 {
    font-size: 13px;
    letter-spacing: 1px;
  }
  .rank-para {
    font-size: 11.3px;
    line-height: 18px;
  }

  .stylish-line {
    margin: 0 auto 80px auto;
    width: 90%;
  }

  .gratis-main {
    flex-direction: column-reverse;
  }
  .gratis-img {
    height: 300px;
    width: 100%;
  }
  .gratis2 {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .gratis-heading {
    margin: -35px auto 35px auto;
    padding: 60px 40px 20px 40px;
    text-align: center;
  }

  .komplett {
    width: 100%;
  }
}

/* 
 */
/* 
  */

@media screen and (max-width: 560px) {
  #cards {
    min-width: 1043px;
    grid-column-gap: 30px;
  }

  .marketing {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .morning {
    padding: 0 15px;
  }

  .morning-main {
    background-size: center;
    height: 300px;
    aspect-ratio: 1/1;
  }

  .morning-main::before {
    height: 100%;
  }
  .marketing-pic {
    width: 100%;
    height: auto;
  }
  .marketing-img {
    display: block;
    width: 100%;
  }
  .marketing-detail {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 390px) {
  .section-1 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .ranking {
    grid-gap: 0.5rem;
  }

  .mornong-para {
    font-size: 23px;
    line-height: 34px;
    width: 92%;
    font-weight: 400;
  }

  .marketing {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
