@media screen and (min-width: 1200px) {
  .forlaargeScreen {
    height: 90px;
  }
}
@media screen and (max-width: 1200px) {
  .phone-main {
    display: block;
  }
  #nav {
    display: none;
  }
  .Dein-Marketing h1,
  .Dein-Marketing p {
    margin: 0 0 0 15px;
  }
}

@media screen and (max-width: 780px) {
  header {
    background: var(--bg-primary);
    position: absolute;
    width: 100%;
    left: 0;
    top: -300px;
    transition: 0.3s;
    z-index: 4;
  }
  .showHeader {
    top: 0;
  }
  .fa-angle-down-1 {
    top: 0;
    z-index: 88;
    transition: 0.3s;
  }
  #header {
    display: block;
    height: auto;
    width: 90%;
  }

  .head {
    justify-content: flex-start;
    display: block;
    margin: 0;
  }

  .head p {
    margin: 15px 0 15px 0;
  }

  .head-2 {
    display: inline-block;
  }
  .head-2 p {
    margin: -7px 0;
  }
  .head-3 {
    margin: 22px 0;
  }
  .head-active {
    padding: 5px 12px;
  }

  .zum {
    padding: 0;
    height: auto;
    margin-top: 0;
  }

  .Dein-Marketing {
    padding-top: 0;
  }

  .Custom-same-btn {
    margin: 35px 0 0 0;
  }

  .zum::before {
    background-image: none;
    width: 100%;
    height: auto;
  }

  .Dein-Marketing h1,
  .Dein-Marketing p {
    max-width: 100%;
    margin: 0 15px;
  }

  .Dein-Marketing h1 {
    font-size: 24px;
  }

  .section-1 {
    padding-top: 80px;
  }
}

@media screen and (max-width: 390px) {
  .section-1 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
