@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

:root {
  --dark-black: black;
  --light-black: black;
  --bg-white: white;
  --bg-black: #000000d1;
  --bg-primary: #d9e1e2;
  --bg-secondary: #dc4405;
  --header-text-color: #a8a8a8;
  --head-text-hover-color: #253746;
  --navbar-text-btn-color: #263747;
  --navbar-text-btn-hover-color: #cf2e2e;
  --search-popup-bg-color: rgba(0, 0, 0, 0.94);
  --border-color: rgba(0, 0, 0, 0.1);
}

/* Similar Styling Start's */
body,
.s-i,
#nav-icon4,
.dropdown7,
.phone-navbar {
  position: relative;
}

.fa-angle-down-1,
.hide-search-div,
.search-popup,
.fa-times,
.fa-search-btn-2,
#nav-icon4 span,
.fa-search-btn-3 {
  position: absolute;
}

.head-1,
#header,
.head,
#navbar,
.navbar_btn ul,
.search-popup,
.logo-with-menu,
.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navbar_btn ul {
  justify-content: space-evenly !important;
} */
#navbar,
#header,
.logo-with-menu,
.dropdown {
  justify-content: space-between !important;
}

.logo,
.logo1 {
  font-size: 24px;
  margin-left: 25px;
}

/* Similar Styling End's */

.fa-angle-down-1 {
  top: -100px;
  left: 50%;
  font-size: 22px;
  cursor: pointer;
}
/* Header Styling */
header {
  background: var(--bg-primary);
}

#header {
  width: 85%;
  height: 35px;
  margin: 0 auto;
}

.head {
  font-size: 14px;
  letter-spacing: 1px;
  height: 100%;
}

.head p {
  margin: 0 6px;
}

.head-active {
  font-size: 13.2px;
  font-weight: bold;
  color: var(--bg-white);
  background: var(--bg-secondary);
  padding: 10px 12px;
}

.head-active:hover {
  background: var(--head-text-hover-color);
  cursor: pointer;
}

.telephone-gray-text {
  color: black;
  margin-left: 10px;
}

.head-3 i {
  width: 16px;
  height: 16px;
  background: var(--bg-black);
  line-height: 15px;
  border-radius: 50%;
  color: var(--bg-primary);
  font-size: 9px;
  margin: 0px 5px;
  padding: 1px 0 0 2px;
  text-align: center;
}

/* Header styling End's */

/* Navbar Styling */
#navbar {
  width: 90%;
  height: 90px;
  margin: 0 auto;
}

.navbar_btn ul li a {
  margin: 0 20px;
  color: var(--navbar-text-btn-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

.navbar_btn ul li a:hover {
  color: var(--navbar-text-btn-hover-color);
}

.fa-search-btn-1 {
  font-size: 16px;
}

/* Search Section For large Screen Popup Section */
.hide-search-div {
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

.show-search-div .search-popup {
  z-index: 99999;
  opacity: 1;
  pointer-events: all;
}

.search-popup {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--search-popup-bg-color);
  flex-direction: column;
  opacity: 0;
  transition: 0.2s ease-out;
  z-index: -99999;
}

.fa-times {
  right: 50px;
  top: 70px;
  color: var(--bg-white);
  font-size: 18px;
  cursor: pointer;
  transition: transform ease-out 0.2s;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px !important;
}

.fa-times:hover {
  transform: rotate(90deg);
}

.search-guide {
  color: white;
  font-size: 14px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

#search-input {
  background-color: transparent;
  outline: none;
  width: 850px;
  border: none;
  border-bottom: solid;
  border-color: rgb(255 255 255 / 10%);
  height: 60px;
  font-size: 36px;
  text-align: center;
  caret-color: white;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  padding: 0px 40px 25px 20px;
  box-sizing: border-box;
}

.fa-search-btn-2 {
  bottom: 25px;
  right: 10px;
  color: rgb(255 255 255 / 10%);
  font-size: 25px;
}

.search-guide,
.s-i {
  transform: scale(0.8);
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.show-search-div :is(.search-guide, .s-i) {
  transform: scale(1);
  opacity: 1;
}
/* Popup End */

/* Large Screen Navbar end */

/* Phone Navbar / Small screen Navbar */
.logo-with-menu {
  height: 100px;
  padding: 0 20px;
}

.phone-main {
  /* height: 100px; */
  overflow: hidden;
}
.phone-navbar {
  box-sizing: border-box;
}

.logo1 {
  margin: 12px 0 0 0;
}
/* Custom Navbar Hamburger */

#nav-icon4 {
  width: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  height: 3px;
  width: 100%;
  background: black;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.15s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 0px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 14px;
  left: 0px;
}

/* Custom Navbar Hamburger End's */

/* Phone Navbar Drop Down Styling*/

.dropdown {
  font-size: 13px;
  font-weight: bold;
  color: var(--dark-black);
  text-transform: uppercase;
  border-top: 1px solid var(--border-color);
  padding: 10px 20px;
}

.dropdown:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.fa-angle-down-2 {
  font-size: 25px;
  color: var(--light-black);
  cursor: pointer;
}

.fa-angle-down-2:hover {
  color: rgba(0, 0, 0, 0.8);
}

.dropdown7 {
  padding: 10px 12px;
}

.dropdown7:hover {
  background-color: transparent;
}

#phone-search {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px 10px;
}

.fa-search-btn-3 {
  bottom: 20px;
  right: 30px;
  font-size: 19px;
  color: #00000054;
}

/*  ---- Further Dropdown Styling ----  */
.further-dropdown1 {
  border: none !important;
  font-weight: normal;
  font-size: 12px;
  padding: 6px 20px;
}

.zeroHeight,
.max-dropdown-zero {
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-out;
}
.phone-navbar-zero {
  height: 0;
  overflow-y: visible;
}
.max-dropdown-zero {
  border-bottom: 1px solid var(--border-color);
}

.further-dropdown-main,
.max-further-dropdown-main {
  border-top: 1px solid var(--border-color);
}
.further-dropdown-head {
  text-transform: capitalize;
}
.iconRotation {
  transform: rotate(180deg);
  transition: transform 0.3s;
}
.byScript-1,
.byScript-2 {
  transition: transform 0.3s;
}

.max-further-dropdown-main {
  background-color: rgba(0, 0, 0, 0.02);
}

.max-further-dropdown-main .further-dropdown1 {
  padding: 12px 20px;
}

.autoHeight {
  height: auto;
}

.phone-main {
  display: none;
}
