@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

:root {
  --dark-black: black;
  --bg-white: white;
  --bg-black: #000000d1;
  --bg-primary: #d9e1e2;
  --bg-secondary: #dc4405;
  --header-text-color: #a8a8a8;
  --head-text-hover-color: #253746;
  --navbar-text-btn-hover-color: #cf2e2e;
  --search-popup-bg-color: rgba(0, 0, 0, 0.95);
  --border-color: rgba(0, 0, 0, 0.1);
  --card-hover-bg-color: #3a4b58;
}

::selection {
  background: #253746;
  color: white;
}

body {
  overflow-x: hidden;
}

/* Similar Styling Start's */
.s-i,
#nav-icon4,
.dropdown7,
.phone-navbar {
  position: relative;
}

.fa-angle-down-1,
.search-popup,
.fa-times,
.fa-search-btn-2,
#nav-icon4 span,
.fa-search-btn-3 {
  position: absolute;
}

.head-1,
#header,
.head,
#navbar,
.navbar_btn ul,
.search-popup,
.logo-with-menu,
.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navbar_btn ul {
  justify-content: space-evenly !important;
} */
#navbar,
#header,
.logo-with-menu,
.dropdown {
  justify-content: space-between !important;
}

.logo,
.logo1 {
  font-size: 24px;
  margin-left: 25px;
}

/* Similar Styling End's */

.fa-angle-down-1 {
  top: -100px;
  left: 50%;
  font-size: 22px;
  cursor: pointer;
}
/* Header Styling */
header {
  background: var(--bg-primary);
}

#header {
  width: 85%;
  height: 35px;
  margin: 0 auto;
}

.head {
  font-size: 14px;
  letter-spacing: 1px;
  height: 100%;
}

.head p {
  margin: 0 6px;
}

.head-active {
  font-size: 13.2px;
  font-weight: bold;
  color: var(--bg-white);
  background: var(--bg-secondary);
  padding: 10px 12px;
}

.head-active:hover {
  background: var(--head-text-hover-color);
  cursor: pointer;
}

.telephone-gray-text {
  color: black;
  margin-left: 10px;
}

.head-3 i {
  width: 16px;
  height: 16px;
  background: var(--bg-black);
  line-height: 15px;
  border-radius: 50%;
  color: var(--bg-primary);
  font-size: 9px;
  margin: 0px 5px;
  padding: 1px 0 0 2px;
  text-align: center;
}

/* Header styling End's */

/* Navbar Styling */

#nav {
  background: white;
  width: 100%;
  position: relative;
  z-index: 91;
}

#navbar {
  width: 90%;
  height: 90px;
  margin: 0 auto;
}

.navbar_btn ul li a.navbar-ancher-tag {
  margin: 0 20px;
  color: var(--dark-black);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 13px;
  display: block;
  line-height: 90px;
}

.navbar_btn ul li a:hover {
  color: var(--navbar-text-btn-hover-color);
}

.fa-search-btn-1 {
  font-size: 16px;
}

/* Search Section For large Screen Popup Section */
.hide-search-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}

.show-search-div .search-popup {
  z-index: 99999;
  opacity: 1;
  pointer-events: all;
}

.search-popup {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--search-popup-bg-color);
  flex-direction: column;
  opacity: 0;
  transition: 0.25s ease-in-out;
  z-index: -99999;
}

.fa-times {
  right: 50px;
  top: 70px;
  color: var(--bg-white);
  font-size: 18px;
  cursor: pointer;
  transition: transform ease-out 0.2s;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px !important;
}

.fa-times:hover {
  transform: rotate(90deg);
}

.search-guide {
  color: white;
  font-size: 14px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

#search-input {
  background-color: transparent;
  outline: none;
  width: 850px;
  border: none;
  border-bottom: solid;
  border-color: rgb(255 255 255 / 10%);
  height: 60px;
  font-size: 36px;
  text-align: center;
  caret-color: white;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  padding: 0px 40px 25px 20px;
  box-sizing: border-box;
}

.fa-search-btn-2 {
  bottom: 25px;
  right: 10px;
  color: rgb(255 255 255 / 10%);
  font-size: 25px;
}

.search-guide,
.s-i {
  transform: scale(0.8);
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.show-search-div :is(.search-guide, .s-i) {
  transform: scale(1);
  opacity: 1;
}
/* Popup End */

/* About Sticky Navbar Styling */

#nav {
  transition: top 0.3s;
}

#nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  transition: 0.3s;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

#nav.sticky #navbar {
  height: 55px;
}

#nav.sticky #navbar .navbar_btn .navbar-ancher-tag {
  height: 55px;
  line-height: 55px;
}
/* About Sticky Navbar Styling Ends */

/* Large Screen Navbar end */

/* Phone Navbar / Small screen Navbar */
.logo-with-menu {
  height: 100px;
  padding: 0 20px;
}

.phone-main {
  /* height: 100px; */
  overflow: hidden;
}
.phone-navbar {
  box-sizing: border-box;
}

.logo1 {
  margin: 12px 0 0 0;
}
/* Custom Navbar Hamburger */

#nav-icon4 {
  width: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  height: 3px;
  width: 100%;
  background: black;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.15s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 0px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 14px;
  left: 0px;
}

/* Custom Navbar Hamburger End's */

/* Phone Navbar Drop Down Styling*/

.dropdown {
  font-size: 13px;
  font-weight: bold;
  color: var(--dark-black);
  text-transform: uppercase;
  border-top: 1px solid var(--border-color);
  padding: 10px 20px;
}

.dropdown:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.fa-angle-down-2 {
  font-size: 25px;
  color: var(--dark-black);
  cursor: pointer;
}

.fa-angle-down-2:hover {
  color: rgba(0, 0, 0, 0.8);
}

.dropdown7 {
  padding: 10px 12px;
}

.dropdown7:hover {
  background-color: transparent;
}

#phone-search {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px 10px;
}

.fa-search-btn-3 {
  bottom: 20px;
  right: 30px;
  font-size: 19px;
  color: #00000054;
}

/*  ---- Further Dropdown Styling ----  */
.further-dropdown1 {
  border: none !important;
  font-weight: normal;
  font-size: 12px;
  padding: 6px 20px;
}

.zeroHeight,
.max-dropdown-zero {
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-out;
}
.phone-navbar-zero {
  height: 0;
  overflow-y: visible;
}
.max-dropdown-zero {
  border-bottom: 1px solid var(--border-color);
}

.further-dropdown-main,
.max-further-dropdown-main {
  border-top: 1px solid var(--border-color);
}
.further-dropdown-head {
  text-transform: capitalize;
}
.iconRotation {
  transform: rotate(180deg);
  transition: transform 0.3s;
}
.byScript-1,
.byScript-2 {
  transition: transform 0.3s;
}

.max-further-dropdown-main {
  background-color: rgba(0, 0, 0, 0.02);
}

.max-further-dropdown-main .further-dropdown1 {
  padding: 12px 20px;
}

.autoHeight {
  height: auto;
}

.phone-main {
  display: none;
}

/* Large Screen Drop Down  */

.large-screen-dropdown-main {
  position: absolute;
  top: 100%;
  left: 75px;
  width: 85%;
  height: auto;
  background-color: #d9e1e2;
  padding: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -2px 0px 0px #253746;
}

.large-screen-dropdown {
  display: flex;
  flex-direction: column;
  width: 23%;
}

.main {
  font-size: 14px !important;
  font-weight: bold;
  padding-top: 0 !important;
  margin-top: -3px;
}
.large-screen-dropdown > a {
  color: var(--dark-black);
  font-size: 13px;
  text-transform: uppercase;
  padding: 11px 0;
  letter-spacing: 1px;
}

.lg-drop-down {
  display: none;
}

.navbar_btn ul li:hover .lg-drop-down {
  display: block;
}

/* Section Styling Begin's */

/* Section 1  */
.section-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  position: relative;
  padding-top: 100px;
}

.section-1-main {
  height: auto;
}

.section-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--head-text-hover-color);
  z-index: -100;
}

.Dein-Marketing,
.zum {
  padding-top: 35px;
}

.Dein-Marketing h1,
.Dein-Marketing p {
  max-width: 580px;
  margin: 0 0 0 auto;
  font-size: 43px;
  color: white;
  line-height: 1.25;
  padding-right: 5px;
}

.Dein-Marketing p {
  font-size: 16px;
  line-height: 1.5;
  padding-top: 65px;
}

.zum::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(img/1.png), radial-gradient(#fff 1px, transparent 1px);
  background-repeat: no-repeat, repeat;
  background-size: 400px 180px, 14px 14px;
  width: 100%;
  height: 375px;
  z-index: -1;
  box-sizing: border-box;
  font-weight: 100;
  background-position: 18px 15px, 0 0;
}

.zum {
  position: relative;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 375px;
}

.Website-Check {
  margin: 50px 0 0 -72px;
  z-index: 10;
}

.Custom-same-btn {
  font-size: 14px;
  color: white;
  background: var(--bg-secondary);
  padding: 14px 25px;
  font-weight: bold;
  letter-spacing: 1px;
  box-sizing: border-box;
  display: inline-block;
}

.Custom-same-btn:hover {
  background: var(--bg-primary);
  color: var(--dark-black);
}

/* Section 2 Cards Making  */

.section-2-main {
  padding-bottom: 80px;
}
.section-2 {
  width: 100%;
  position: relative;
  padding-bottom: 40px;
}

#cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 185px;
  background-color: #253746;
  z-index: -11;
}

#Layer_1 {
  width: 70px;
  aspect-ratio: 1/1;
}

#Layer_2 {
  width: 37px;
  aspect-ratio: 1/1;
}

#cards {
  display: grid;
  grid-template-columns: 265px 265px 265px 265px;
  align-items: center;
  justify-content: center;
  grid-column-gap: 20px;
}

.card-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.card {
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 360px;
  background-color: var(--bg-white);
  box-shadow: 0px 4px 10px 3px rgb(0 0 0 / 20%);
  transition: 0.3s;
  box-sizing: border-box;
}

.card:hover {
  background-color: var(--card-hover-bg-color);
  box-shadow: 8px 8px 0 0 var(--bg-secondary);
  transform: translateY(-3px);
}

.card:hover h3,
.card:hover .card-para {
  color: var(--bg-white);
}

.card:hover .st0 {
  fill: var(--bg-white);
}

.card-para {
  text-align: center;
  line-height: 24px;
}

.card-flex h3 {
  font-size: 25px;
  color: var(--head-text-hover-color);
  margin: 10px 0 18px 0;
  font-family: "Roboto";
  font-weight: bold;
}

.card-btn {
  margin-bottom: 20px;
}

/* Section 3  */
.section {
  max-width: 1180px;
  margin: 0 auto;
}

.marketing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(505px, 1fr));
  width: 100%;
  padding: 0 10px;
  position: relative;
  box-sizing: border-box;
}

.marketing-detail {
  padding: 20px 0;
  width: 100%;
  position: relative;
}

.marketing-detail h1 {
  font-family: "Roboto";
  margin: 10px 0;
  letter-spacing: 2px;
  color: var(--bg-black);
}

.line {
  width: 70%;
  height: 1px;
  background-color: black;
  margin: 35px 0;
}

.text {
  line-height: 24px;
  margin-top: 25px;
}

.text-link {
  color: black;
  font-weight: bold;
}

.morning-main {
  width: 100%;
  box-sizing: border-box;
  margin-top: 40px;
  cursor: pointer;
  position: relative;
  height: 290px;
}

.morning-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(img/bg-img-1) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main-2 {
  background: url(img/bg-img-2) no-repeat center;
}

.main-3 {
  background: url(img/bg-img-3) no-repeat center;
}

.morning {
  padding: 0 15px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.morning:hover {
  background-color: rgb(37 55 70 / 60%);
}

.morning-btn {
  padding: 14px;
}

.mornong-para {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 12px;
  background: rgb(37 55 70 / 70%);
  font-size: 22px;
  font-weight: bold;
  color: white;
  line-height: 32px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.marketing-img {
  display: flex;
  align-items: end;
}
.marketing-pic {
  max-width: 100%;
  height: auto;
}

.ranking {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-gap: 1rem;
  box-sizing: border-box;
  width: 99%;
  margin: 20px auto;
  position: relative;
  margin-bottom: 80px;
}

.same-R-a {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 22px 15px;
  box-sizing: border-box;
  background: var(--head-text-hover-color);
}

.same-R-a:hover {
  background-color: #d9e1e2;
}

.same-R-a:hover h3,
.same-R-a:hover p {
  color: #253746;
}

.same-R-a h3 {
  color: var(--bg-white);
  font-family: "Roboto";
}

.rank-para {
  color: var(--bg-white);
  font-size: 16px;
  line-height: 24px;
}

.stylish-line {
  width: 98%;
  height: 2px;
  background-color: var(--bg-secondary);
  margin: 0 auto 80px auto;
  position: relative;
}

.stylish-line::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -19px;
  width: 40px;
  height: 40px;
  background-color: white;
  z-index: 2;
  transform: rotate(45deg);
  border-bottom: 2px solid var(--bg-secondary);
  border-right: 2px solid var(--bg-secondary);
}

.gratis-main {
  display: flex;
  padding: 35px 0;
}

.gratis2 {
  height: fit-content;
  position: relative;
  width: 50%;
  padding: 0 0 0 12px;
}

.gratis-img {
  width: 50%;
  position: relative;
  height: auto;
  z-index: -1;
}

.analyse-img {
  width: 100%;
  height: 100%;
  background: url(img/online-marketing-pic-4) no-repeat center;
  background-size: cover;
  z-index: -1;
  box-shadow: 12px 12px 10px 0px rgb(0 0 0 / 20%);
}

.gratis-heading {
  display: block;
  border: 7px solid #253746;
  padding: 20px 40px;
  font-size: 35px;
  color: var(--head-text-hover-color);
  margin: 25px 0px 40px 70px;
  width: 100%;
  box-sizing: border-box;
}

.gratis-heading:hover {
  background-color: white;
  border-color: var(--bg-secondary);
  color: var(--bg-secondary);
}

.b-line {
  border-top: 0.5px solid #253746;
  width: 97%;
  height: 1%;
}

.komplett {
  margin: 20px 0;
  line-height: 24px;
  width: 70%;
  color: var(--head-text-hover-color);
}

/* Section 8 */

.section-7-main {
  background: var(--head-text-hover-color);
  padding: 0 30px;
}

.trends {
  margin-top: 70px;
  padding-bottom: 20px;
}

.tipps,
.tipps-form {
  width: 50%;
  padding: 35px 0;
  position: relative;
  box-sizing: border-box;
}

.tipps-form {
  padding: 35px 0 35px 30px;
  z-index: 5;
}

.tipps-form::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  background-image: radial-gradient(var(--bg-secondary) 1px, transparent 1px);
  background-repeat: repeat;
  background-size: 14px 14px;
  width: 80%;
  height: 60%;

  z-index: -1;
  box-sizing: border-box;
}

.tipps .tip-head {
  font-family: "Roboto";
  color: white;
  font-size: 36px;
  margin-bottom: 40px;
  line-height: 50px;
}

.tipps p {
  color: white;
  font-weight: 600;
  margin: 20px 0;
  margin-left: 25px;
  line-height: 24px;
  letter-spacing: 1px;
}

.tipps p i {
  margin: 0 2px 0 -19px;
  color: var(--bg-secondary);
}

.form {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background: white;
  padding: 25px 30px;
}

.fullName {
  position: relative;
  display: flex;
  justify-content: space-between;
}

#first-name,
#last-name {
  width: 49%;
}

.unique-input {
  width: 100%;
}

.familar-input {
  border: 1px solid var(--head-text-hover-color);
  padding: 14px;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
}

.custom-checkbox {
  margin: 10px 0;
}

.checkbox {
  position: relative;
  display: inline-block;
  border: 1px solid rgb(0 0 0 / 30%);
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
  background: #f5f5f5a8;
  line-height: 15px;
  text-align: center;
}

.fa-check-1 {
  opacity: 0;
  transition: 0.5s;
}

.checked {
  opacity: 1;
}

.checkbox-txt {
  font-weight: bold;
  font-size: 18px;
  color: var(--head-text-hover-color);
}

.form-link {
  color: var(--bg-secondary);
}

.form-link:hover {
  color: var(--head-text-hover-color);
}

.form-btn {
  padding: 14px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  margin-top: 20px;
}

.form-btn:hover {
  background-color: var(--head-text-hover-color);
  color: white;
}

/* Footer styling */

#footer-id {
  background-color: var(--bg-primary);
}

.footer {
  padding: 50px 30px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.allgemein {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.footer-dt {
  width: 25%;
}

.footer-sp {
  display: flex;
  flex-direction: column;
}

.footer-dt h4 {
  font-size: 14px;
  margin: 18px 0;
}

.footer-a {
  display: flex;
}

.footer-icon {
  font-size: 14px;
  margin: 0 10px;
}

.fa-envelope {
  font-size: 16px;
}

.footer-dt .footer-lo {
  margin-left: 12px;
  font-size: 16px;
}

.footer-sp a {
  margin: 7px 0;
  font-size: 14px;
  color: var(--head-text-hover-color);
}

.footer-sp a:hover {
  color: var(--bg-secondary);
}

.footer-sp a:hover span i {
  color: black;
}

.lastpart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lastpart p {
  color: var(--bg-primary);
  font-size: 10px;
  letter-spacing: 1px;
}

.footer-links {
  text-align: center;
}

.footer-links a img {
  margin: 10px;
}

.end {
  padding: 25px 0;
  background: var(--head-text-hover-color);
}
